<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diana7">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import diana7 urdf file -->
    <xacro:include filename="$(find diana7_description)/urdf/diana_robot.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="diana7.ros2_control.xacro" />


    <xacro:diana7_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
