# MoveIt uses this configuration for controller management

moveit_controller_manager: moveit_simple_controller_manager/MoveItSimpleControllerManager

moveit_simple_controller_manager:
  controller_names:
    - arm_controller

  arm_controller:
    type: FollowJointTrajectory
    joints:
      - joint1
      - joint2
      - joint3
      - joint4
      - joint5
      - joint6
      - joint7
    action_ns: follow_joint_trajectory
    default: true
    # If not specified, the controller will use the parameter [publish_robot_description_semantic]
    # from the parameter server to get the semantic description of the robot
    #publish_robot_description_semantic: true
    # The parameter below is only relevant if the [publish_robot_description_semantic] is set to true
    #publish_robot_description_semantic_file: robot_description_semantic.yaml